pandas
numpy
scipy
scikit-learn
matplotlib

pytest
tqdm
setuptools

flake8
black
autopep8
pylint

streamlit
coloredlogs

pyinstaller
Cython
tinyaes

dataclasses

inflect
jieba
nltk

librosa
soundfile
